# yolov5 training cache
convertor
dataset.yaml
yolov5x.yaml
runs

# IDE related
.idea
.vscode

# dataset
data/*

# cache
cache/*

# some temporal files and weights
*.pt
tmp.py
__pycache__
*.png
!examples/*
examples/.DS_Store